.site-header {
  background: #5bc1ac;
  /* padding-top: 1px;
  padding-bottom: 5px; */
}

.site-header p,
.site-header p a,
.site-header .social-icon-link {
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.site-header .social-icon {
  text-align: right;
}

.site-header .social-icon-link {
  background: transparent;
  width: inherit;
  height: inherit;
  line-height: inherit;
  margin-right: 15px;
}

.navbar {
  padding: 1em;
  color: black;
  background-color: white;
}
.ovm {
  margin-left: 0.5em;
}
ul {
  /* text-align: space-around;
  justify-content: center; */
  margin-left: 2em;
}
.search {
  width: 50px;
}
li {
  text-align: center;
  justify-content: center;
  margin-left: 0.5em;
}
li:hover {
  color: #3cffef;
}
.icons {
  color: #0ea2bd;
  margin-left: 0.5em;
  cursor: pointer;
}
.icons:hover {
  color: #0c8aa0;
}
.signin {
  background-color: #0ea2bd;
  /* margin-left: 0.5em; */
  outline: none;
  border: none;
}
.start {
  background-color: #0ea2bd;
  color: #fff;
  /* margin-left: 0.5em; */
  outline: none;
  border: none;
  width: 10rem;
  height: 3rem;
}

.signin:hover,
.start:hover {
  cursor: pointer;
  background-color: #0c8aa0;
}
/* ________________Subscribe */

.subscribe-main {
  /* margin-left: 7rem; */
  margin-top: 5rem;
}
/* .subscribe-left {
  width: 50%;
} */
/* .subscribe-right {
  width: 40%;
  padding-top: 1em;
} */
/* .subscribe-main {
  display: flex;
  flex-direction: row;
} */
.email-icon {
  margin-top: 1em;
  margin-right: 0.5em;
}

/* _____________________footer */

.footer-style {
  /* margin-left: 7rem; */
  margin-top: 5rem;
}
.footer-info {
  font-size: 13px;
  color: #1b1d21;
}

.social-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: all 0.3s;
  font-size: 1rem;
}
.hero {
  /* display: flex;
  flex-direction: row; */
  background-color: #eaeef3;
}

.featured-services .service-item {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  height: 100%;
}

.featured-services .service-item .icon {
  margin-bottom: 10px;
}

.featured-services .service-item .icon i {
  color: blue;
  font-size: 36px;
  transition: 0.3s;
}

.featured-services .service-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}

.featured-services .service-item h4 a {
  color: red;
  transition: ease-in-out 0.3s;
}

.featured-services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.block {
  transition: 0.5s;
  cursor: pointer;
}
.block:hover {
  /* opacity: 0.1; */
  /* filter: blur(0.08rem); */
  /* opacity: 0.5; */
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}

.text-logo {
  /* position: absolute; 
   top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%;
  text-align: center;  */
  color: #ceeffc;
}
.textlogo {
  font-size: 25px;
  font-weight: 800;
  text-shadow: -0.08em 0.03em 0.12em #027488;
}

.textlogo:not(:first-child) {
  margin-left: -0.23em;
}
